.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1{
    color: blueviolet;
}

ul{
    display: flex;
    flex-direction: row;
    text-align: left;
}
.list{
   background-color: whitesmoke;
   list-style: none;
   margin: 0px;
   border:1px solid grey ;
   border-radius: 3px;
}
